* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    cursor: default;
    scroll-behavior: smooth;
}
body {
    background-color: $lightgrayishcyan;
    margin: 0;
}

// @media screen {
//     html body div.cvox_indicator_container {
//       display: none !important;
//     }
//   }


