* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    cursor: default;
    scroll-behavior: smooth;
}
body {
    background-color: $lightgrayishcyan;
    margin: 0;
}