.grid-2 {
    display: grid;
    background-color: $white;
    grid-row: 2 / 4;
    grid-template-rows: 1fr 1fr;
    padding: 26px;
    gap: 24px;
    border-radius: 26px 26px 0 0;
    @media (max-height: 900px) and (max-width: 600px) {
        min-height: 725.5px;
    }
    @include tablet {
        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 24px;
        gap: 24px;
        border-radius: 26px;
        max-width: 777px;
        max-height: 382px;
        margin: auto;
    }
    @include desktop {
        grid-row: 2;
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 32px;
        gap: 32px;
        border-radius: 26px;
        max-width: 777px;
        max-height: 482px;
    }
}
