.grid-1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    @include tablet {
        grid-template-rows: 1fr 1fr 1fr;
    }

    #splitter {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 155px;
        @include tablet {
            @media (min-height: 1000px) {
                align-items: end;
            }
        }

        img {
            height: 3.25rem;
            margin-bottom: 0px;
            @include tablet {
                @media (min-height: 1000px) {
                    margin-bottom: 90px;
                }
            }
        }
    }
}
