.grid-1 {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    @include tablet {
        grid-template-rows: 1fr 1fr 1fr;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 155px;
        @include tablet {
            align-items: end;
        }
        img {
            height: 3.25rem;
            padding-bottom: 0px;
            @include tablet {
                padding-bottom: 90px;
            }
        }
    }
}
