.tip {
    margin-bottom: 24px;
    @include desktop {
        margin-bottom: 42px;
    }
    div {
        font-size: 16px;
        margin-bottom: 12px;
        @include desktop {
            margin-bottom: 16px;
        }
    }
}
